.titulo {
    text-align: center;
    font-family: 'Sansita Swashed';
    font-size: xx-large;
    padding: 1%;
    background-color: rgb(8, 34, 82);
    color: white;
    border-color: rgb(165, 165, 165);
    border-radius: 20px;
    border-bottom-style: groove;
    border-width: 9px;
    border-right-style: groove;
    border-top-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    width: 80%;
    margin: 0px auto;
}

.titulo:hover {
    text-align: center;
    font-family: 'Sansita Swashed';
    font-size: xx-large;
    padding: 1%;
    color: rgb(8, 34, 82);
    background-color: white;
    border-color: rgb(8, 34, 82);
    border-radius: 20px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    margin: 0px auto;
}

.formulario {
    padding: 2%;
    /*position: absolute;*/
    width: 40%;
    text-align: center;
    margin: 10px auto 0px auto;
    background-color: steelblue;
    border-radius: 20px;
}

.carta {
    text-align: center;
}

.usuario {
    margin: 1%;
    font-family: 'Chilanka';
    font-size: larger;
    color: white;
}

input#u_campo {
    font-family: Comfortaa;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
}

.contra {
    margin: 1%;
    font-family: 'Chilanka';
    font-size: larger;
    color: white;
}

input#c_campo {
    font-family: Comfortaa;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
}

.boton {
    margin: 5% 1% 1% 1%;
}

input#boton_enviar {
    background-color: rgb(21, 151, 3);
    color: white;
    font-size: medium;
    font-family: 'Sora';
    border-color: darkgreen;
    border-radius: 5px;
    border-style: solid;
}

input#boton_enviar:hover {
    background-color: white;
    color: rgb(21, 151, 3);
    font-size: medium;
    font-family: 'Sora';
    border-color: darkgreen;
    border-radius: 5px;
}

img#imagen_u {
    padding: 10px;
    color: aqua;
}